.button {
  display: inline-block;
  border: 1px solid black;
  padding: 15px 20px;
  background: transparent;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  font-family: var(--headerFonts);
  font-weight: 600;
  text-decoration: none;
  color: var(--textDefault);
}

.button-red {
  background: red;
  color: white;
  border: none;
}
