@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-header.fixed {
    @apply bg-black;
  }

  .middle-me {
    @apply flex flex-wrap justify-center items-center;
  }

  .do-4 {
    @apply grid lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-1 gap-4;
  }


  .do-3 {
    @apply grid lg:grid-cols-3 md:grid-cols-1 gap-4;
  }

  .do-2 {
    @apply grid lg:grid-cols-2 md:grid-cols-1 gap-4;
  }

  .tagged {
    @apply text-xs font-medium font-headers;
  }

  .gallery-grid-first {
    @apply lg:col-span-2;
  }

  .gallery-grid-last {
    @apply lg:flex-wrap;
  }

  .gallery-grid-last-top {
    @apply mb-[13px] mr-[10px] lg:mr-0 lg:mr-0 sm:w-1/2 lg:w-full;
  }

  .gallery-grid-last-bottom {
    @apply sm:w-1/2 lg:w-full;
  }
}

@import "const.css";

@import "~@fortawesome/fontawesome-pro/css/all.css";

@import "fonts/Montserrat/stylesheet.css";
@import "fonts/Lora/stylesheet.css";
@import "sections.css";
@import "page.css";
@import "single.css";
@import "nav.css";
@import "gallery.css";
@import "hero.css";
@import "sell.css";
@import "input.css";
@import "grid.css";
@import "type.css";
@import "item.css";
@import "image-roll.css";
@import "button.css";
@import "info-box.css";
@import "accordian.css";
@import "footer.css";
@import "subscription-options.css";
@import "login.css";
@import "profile.css";
@import "modal.css";
@import "accountlistings-nav.css";
@import "loader.css";
@import "@splidejs/splide/dist/css/splide.min.css";


.html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Montserrat, Helvetica, Arial;
}

* {
  box-sizing: border-box;
}

*:before, *:after {
  padding: 0;
  margin: 0;
}
