.full-width-page {
  display: flex;
  justify-content: flex-start;
  grid-auto-rows: 1fr;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  box-sizing: border-box;
}

#login-button,
#logout-button {
  cursor: pointer;
}

.login {
  cursor: pointer;

}

.login .welcome {
font-family:  var(--defaultFonts) ;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-transform: capitalize;
  letter-spacing: 0.1em;
}

.login.logged-in  {
  position: relative;
}

.login-form-button {
  position: relative;
  height: 40px;
}

.login-form-button:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  content: 'continue';
  text-transform: uppercase;
}

.login-form-button.loading  {
  background: var(--textGray);
}

.login-form-button.loading:after {
  content: 'loading...';
}

.login.logged-in + .profile-menu {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid black;
  padding: 20px;
}

.dropdown-menu ul{
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
.dropdown-menu ul li,
.dropdown-menu ul li a {
  color: var(--textblack);
  font-family: var(--headerFonts);
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.dropdown-menu ul li a {
  padding: 10px;
  display: inline-block;
  width: 100%;
}

.menu-item.has-children:hover .profile-menu {
  display: block;
}

.loginForm button  {
  cursor: pointer;
}

.loginForm input[type=text],
.loginForm input[type=password] {
  margin-bottom: 10px;
}

.login-aside {
  height: 100%;
}

.login-place {
  width: 300px;
  max-width: 300px;
}

.login-condition  {
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
  width: 100%;
  justify-content: center;
}

.login-condition span {
  display: inline-block;
  z-index: 999999;
  background: white;
  padding: 20px;
  font-family: var(--headerFonts);
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  letter-spacing: 0.25em;
}

.login-condition:before,
.login-condition:after {
  position: absolute;
  display: block;
  height: 1px;
  background: var(--textGray);
  content: '';
  width: 50%;
  top: 50%;
  z-index: -1;
}

.login-condition:before {
  left: 0;
}

.login-condition:after  {
  right: 0;
}

.login-place .button {
  width: 100%;
}

.login-place .button:not(.button-red) {
  margin-bottom: 10px;
}

.login-aside-inner {
  height: 100%;
}

.login-place {
  align-items: center;
  padding: 20px;
}

.login-image {
  background-size: cover;
}

.continue-socials button  {
   text-align: left;
  text-transform: none !important;
  cursor: pointer;
}

.continue-socials button i.fa-brands {
  margin-right: 10px;
  ;
}

#login-error,
#login-error p {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

#login-error i {
  color: red !important;
}

/** login password **/

.font-password {
  position: relative;
}

.font-password i {
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
}

.logout-confirmed {
  background: #ccfdce;
}

.logout-confirmed a,
.logout-confirmed  h3 {
  color: var(--textblack);
}

.form-field {
  margin-bottom: 10px;
}
